PORT=4000

ALLOW_ORIGINS="*"

JWT_SECRET=your-secret-key
COOKIE_SECRET=your-secret-key

DATABASE_URL="host=localhost user=postgres password=password dbname=local port=5434"

# only for local develop
LOCAL_IP=35.181.8.72